@use "../foundation/import" as i;
@use "../foundation/variable" as v;
@use "../functions/return_vw" as *;
@use "sass:math";

.page-slug-sessions {
  .wp-block-wordcamp-schedule {
    .wordcamp-schedule__date {
      display: none;
    }
  }
  .wordcamp-sessions {
    .wordcamp-sessions__details {
      .wordcamp-sessions__time-location {
        display: none;
      }
    }
  }
}

.wordcamp-block.wordcamp-post-list {
  padding-inline-start: 0;
  a {
    color: var(--wp--preset--color--custom-main);
  }
  .sharedaddy {
    display: none;
  }
}

.wp-block-wordcamp-schedule {
  .wordcamp-schedule {
    .wordcamp-schedule__day {
      background: #F0F4F5;
      .wordcamp-schedule__column-header {
        padding: 16px 0;
        &:first-child {
          background: #D0F0FF;
        }
        &:nth-child(2) {
          background: #E8F6C6;
        }
        &:nth-child(3) {
          background: #C5F5E9;
        }
        &:nth-child(4) {
          background: #E8E2F8;
        }
      }
      .wordcamp-schedule__session {
        background: #FFF;
        &.is-spanning-some-tracks {
          background: #F0F4F5;
          .wordcamp-schedule__session-title {
            justify-content: center;
          }
        }
        .wordcamp-schedule__session-title,
        .wordcamp-schedule__session-speakers {
          a:not(.fav-session-button) {
            color: var(--wp--preset--color--custom-main);
          }
        }
      }
      .wordcamp-schedule__time-slot-header.has-sessions {
        background: #D0F0FF;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 599.9375px) {
  .wp-block-wordcamp-schedule {
    .wordcamp-schedule {
      .wordcamp-schedule__day {
        background: unset;
        .wordcamp-schedule__session {
          .wordcamp-schedule__session-title {
            font-size: 16px;
          }
          .wordcamp-schedule__session-tracks {
            dd {
              padding: 4px 8px;
              border-radius: 5px;
              font-size: 16px;
              font-weight: bold;
              margin-right: 16px;
              &::after {
                content: none;
              }
            }
          }
          &.has-track-502 {
            .wordcamp-schedule__session-tracks {
              dd {
                &:nth-of-type(1) {
                  background-color: #FFD200;
                }
              }
            }
            &.has-track-507 {
              .wordcamp-schedule__session-tracks {
                dd {
                  &:nth-of-type(2) {
                    background-color: #51C9AB;
                    color: #FFF;
                  }
                }
              }
            }
            &.has-track-507 {
              .wordcamp-schedule__session-tracks {
                dd {
                  &:nth-of-type(2) {
                    background-color: #51C9AB;
                    color: #FFF;
                  }
                }
              }
              &.has-track-508 {
                .wordcamp-schedule__session-tracks {
                  dd {
                    &:nth-of-type(3) {
                      background-color: #A993E1;
                      color: #FFF;
                    }
                  }
                }
              }
            }
            &.has-track-508 {
              &:not(.has-track-507) {
                .wordcamp-schedule__session-tracks {
                  dd {
                    &:nth-of-type(2) {
                      background-color: #A993E1;
                      color: #FFF;
                    }
                  }
                }
              }
            }
          }
          &.has-track-507 {
            &:not(.has-track-502):not(.has-track-508) {
              .wordcamp-schedule__session-tracks {
                dd {
                  &:nth-of-type(1) {
                    background-color: #51C9AB;
                    color: #FFF;
                  }
                }
              }
            }
          }
          &.has-track-508 {
            &:not(.has-track-502):not(.has-track-507) {
              .wordcamp-schedule__session-tracks {
                dd {
                  &:nth-of-type(1) {
                    background-color: #A993E1;
                    color: #FFF;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
