@use "../foundation/import" as i;
@use "../foundation/variable" as v;
@use "../functions/return_vw" as *;
@use "sass:math";

#tix-attendees {
  ul.tix-attendee-list {
    &.tix-columns-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style: none;
      padding-left: 0;
      gap: 80px 0.5%;
      @include i.mq(xs, max, true) {
        gap: 40px 10%;
      }
      li {
        flex-basis: 33%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        height: auto;
        margin-bottom: 0;
        @include i.mq(xs, max, true) {
          flex-basis: 45%;
          height: auto;
        }
        .tix-field {
          margin-left: 0;
        }
        a {
          color: var(--wp--preset--color--custom-main);
        }
        .avatar {
          width: 96px;
          height: 96px;
          @include i.mq(xs, max, true) {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

.tix-field.tix-attendee-name {
  text-align: center;
}

a.tix-attendee-twitter,
a.tix-attendee-url {
  display: block;
  word-break: break-all;
  text-align: center;
}
