@use "../foundation/import" as i;
@use "../foundation/variable" as v;
@use "../functions/return_vw" as *;
@use "sass:math";

.wordcamp-sponsors {
  padding-inline-start: 0;
  li {
    .wordcamp-sponsor {
      .wordcamp-sponsors__title {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1.4rem;
        a {
          color: var(--wp--preset--color--custom-main);
        }
      }
    }
  }
}

body.home,
body.page-slug-sponsors {
  #tix-attendees {
    .tix-attendee-list {
      &.tix-columns-4 {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 0;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li {
          float: unset;
          height: auto;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          margin-bottom: 0;
          @include i.mq(xs, max, true) {
            width: 50%;
            flex-basis: 50%;
            height: auto;
          }
          .tix-field {
            margin-left: 0;
            &.tix-attendee-name {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
