@use "../foundation/import" as i;
@use "../foundation/variable" as v;
@use "../functions/return_vw" as *;
@use "sass:math";

body.page {
  &:not(.home) {
    background: url(../images/fixed-page-hero-bgi.png) top 230px left / 100% auto no-repeat;
    @include i.mq(xs, max, true) {
      background: url(../images/fixed-page-hero-bgi.png) top 160px left / 100% auto no-repeat;
    }
  }
}

.wck-page-group {
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 220px;
    height: 2153px;
    background-image: image-set(url(../images/bg_bubble.png) 1x, url(../images/bg_bubble@2x.png) 2x);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    @include i.mq(xs, max, true) {
      content: none;
    }
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
    transform: scale(-1, 1);
  }
}

@media screen and (max-width: 998.9375px) {
	.wck-page-group {
		padding-right: 15px;
		padding-left: 15px;
	}
}

// mv
.wck-page-mv {
  padding-top: 90px;
  padding-bottom: 40px;
  position: relative;
  @include i.mq(xs, max, true) {
    padding-top: 56px;
  }
}

// .wck-page-mv-inner {}

.wck-page-mv-logo {
  @include i.mq(xs, max, true) {
    padding-right: return_vw(14px, 375px);
    padding-left: return_vw(14px, 375px);
  }
  img {
    width: 450px !important;
  }
}

// .wck-page-mv-info {}

.wck-page-mv-info-date {
  font-size: math.div(36, v.$default-font-size) * 1rem !important;
  line-height: math.div(36, 36);
  margin-bottom: 10px !important;
  @include i.mq(xs, max, true) {
    font-size: math.div(20, v.$default-font-size) * 1rem !important;
  }
  mark {
    font-size: 66%;
    background: none;
  }
}

.wck-page-mv-info-place-en {
  font-size: math.div(20, v.$default-font-size) * 1rem !important;
  line-height: math.div(20, 20);
  @include i.mq(xs, max, true) {
    font-size: math.div(12, v.$default-font-size) * 1rem !important;
  }
}

.wck-page-mv-info-place-ja {
  font-size: math.div(16, v.$default-font-size) * 1rem !important;
  line-height: math.div(16, 16);
  @include i.mq(xs, max, true) {
    font-size: math.div(10, v.$default-font-size) * 1rem !important;
  }
}

.wck-page-mv-wapuu {
  width: 180px;
  position: absolute;
  top: 145px;
  right: return_vw(307px, 1440px);
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
  animation: yurayura-wapuu 2.5s infinite linear 0.5s both;
  @include i.mq(xs, max, true) {
    width: 76px;
    transform: rotate(-8.63deg);
    // top: 115px;
    // right: return_vw(29px, 375px);
    top: 123px;
    right: 2vw  ;
  }
}

@keyframes yurayura-wapuu {
  0%,
  100%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-2deg);
  }
}
