@use "../foundation/import" as i;
@use "../foundation/variable" as v;
@use "../functions/return_vw" as *;
@use "sass:math";

footer.wp-block-template-part {
  margin-block-start: 200px !important;
  background: v.$primary-color;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 8px;
    background: url(../images/footer-repeat-bg.png) top left / 65px 8px repeat-x;
    position: absolute;
    top: -8px;
    left: 0;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 239px;
    height: 94px;
    background: url(../images/img_ship.png) top left / 100% auto no-repeat;
    animation: yurayura-ship 5s infinite ease-in-out .5s both;
    position: absolute;
    top: -85px;
    left: return_vw(198px, 1440px);
    z-index: -1;
  }
}

@keyframes yurayura-ship {
  0%,
  100%{
    transform: rotate(3deg);
  }
  50%{
    transform: rotate(-3deg);
  }
}

footer.wp-block-template-part {
  .wck-footer-nav,
  .wp-block-page-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #FFF;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
