@use "../foundation/import" as i;
@use "../foundation/variable" as v;
@use "../functions/return_vw" as *;
@use "sass:math";

// wrap
#tix {
  @include i.mq(s, max, true) {
    overflow-x: scroll;
  }
}

// heading
#tix {
  h2 {
    position: relative;
    text-transform: uppercase;
    color: #000;
    font-size: math.div(36, v.$default-font-size) * 1rem;
    line-height: math.div(36, 36);
    font-weight: 500;
    &::after {
      content: '';
      width: 261px;
      height: 18px;
      background: image-set(url(../images/heading-bgi.png) 1x, url(../images/heading-bgi@2x.png) 2x) top center/100% auto no-repeat;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    }
  }
}

// input[type="submit"]
#tix {
  .tix-submit input[type="submit"].tix-checkout-button,
  input[type="submit"] {
    border-radius: 34px;
    background-color: #ff8800;
    border: 0px none;
    color: #FFF;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: var(--wp--preset--font-size--medium);
    font-weight: bold;
  }
}

.tix_tickets_table {
  width: 100%;
  border: 1px solid;
  border-spacing: 0;
  thead {
    th {
      background: #ededed;
    }
  }
  tbody {
    tr {
      &:last-child {
        th,
        td {
          border-bottom: 0;
        }
      }
    }
  }
  th,
  td {
    border-bottom: 1px solid #000;
    padding: 15px 18px;
    border-spacing: 0;
    text-align: center;
    font-size: var(--wp--preset--font-size--small);
    @include i.mq(s, max, true) {
      padding: 15px;
    }
    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  tr {
    th {
      &:first-child {
        text-align: left;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  select {
    padding: 0.8em 1em;
    font-size: var(--wp--preset--font-size--small);
  }
}

.tix_tickets_table {
  &.tix-attendee-form {
    tbody {
      th {
        background: #ededed;
      }
      th,
      td {
        padding: 15px 18px;
        border-spacing: 0;
        text-align: center;
        font-size: var(--wp--preset--font-size--small);
        @include i.mq(s, max, true) {
          padding: 15px;
        }
      }
    }
  }
}

.tix_tickets_table {
  &.tix-order-summary {
    th,
    td {
      border-bottom: 1px solid #000;
      padding: 15px 18px;
      border-spacing: 0;
      text-align: center;
      font-size: var(--wp--preset--font-size--small);
      @include i.mq(s, max, true) {
        padding: 15px;
      }
    }
  }
}
